-var menu=["Post","Acerca de","Contacto"]

-var planets=["Mercurio","Venus","Tierra","Marte","Jupiter","Saturno","Urano","Neptuno"]

mixin pieceOfNews(title, image, alt, caption, redaction)
  h2.title= title
  img(src="images/news/" + image + ".jpg", alt= atl)
  .redaction
    
    p= redaction 
    p.captions= "Seguir leyendo"

mixin planet(name, alternative_1, alternative_2, title, description)
  .planet 
    .planet__view 
      h2.planet__name= name
      img(src="images/Planets/" + name + ".jpg" alt= alternative_1 ).planet__image
    .planet__information(style= "background-image: url(images/Background/Mobile/" + name + ".jpg)" alt= alternative_2)
      p.captions= title
      br
      p= description

      


      
