extend modules/template.pug 
block content  

  h2= 'Whats new?'
  article.news
    .element
      h2.title= '¿QUÉ ES UNA SUPERLUNA?'
      img(src='images/news/fullmoon.jpg', alt= 'Luna llena')
      .preview
        .preview_redaction
          p= 'El perigeo es el punto más cercano que alcanza la Luna en una revolución completa alrededor de la Tierra. El punto más alejado de la Luna de la Tierra se llama apogeo. Los perigeos y apogeos existen porque la órbita de la Luna alrededor de la Tierra no es un círculo perfecto sino una elipse (óvalo). La distancia media del perigeo es de 363 300 km desde la Tierra, y el apogeo es de 405 500 km.'
        p.captions= 'Seguir leyendo'
        
    .element
      h2.title= '¿POR QUÉ ESTA IMAGEN ES TAN IMPORTANTE ESTA IMAGEN?'
      img(src='images/news/Sagitario A.jpg', alt="Primera imagen del agujero negro de nuestra galaxia")
      .preview
        .preview_redaction
          p= 'Sagitario A*, el suejo de nuestra fotografía, es el agujero negro que ayudó a formar nuestra galaxia, por ello lo podríamos considerar como un abuelo estelar que ayudó en la formación de estrellas, que después formaron planetas.'
        p.captions= 'Seguir leyendo'
        
    .element
      h2.title= '¿QUÉ PASA DURANTE UN ECLIPSE LUNAR?'
      img(src="images/news/Lunar eclipse.jpg", alt="Imagen de un eclipse lunar")
      .preview
        .preview_redaction 
          p= 'Es asombroso ver el cambio de color en la luna, pero se vuelve aún más interesante cuando comprendemos el porqué de ese cambio.'
          p= 'Un eclipse lunar se da cuendo la luna pasa a través de la sombra que proyecta la tierra..'
        p.captions= 'Seguir leyendo' 
  
  .courses
    .courses_title
      h1= 'Aprende astronomía'
    a(href="solar_system.html")= 'Nivel basico: Sistema solar'
    h2='Nivel intermedio: Nuestra galaxia'
    h2= 'Nivel avanzado: Universo observable'

